includes:
    - phpstan-baseline.neon

parameters:
    reportUnmatchedIgnoredErrors: false
    level: 8
    paths:
        - app
        - config
        - database
        - routes
        - src
        - tests
    bootstrapFiles:
        - vendor/autoload.php
